<h3 fxLayout="row" fxLayoutAlign="center center">
  Network of Code Monkey Clubs
</h3>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div fxLayout="row">
  <button fxFlex="grow" mat-button (click)="loadAdditionalData()">
    Add New Code Monkey Club
  </button>
</div>

<div class="scroll">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <a *ngFor="let club of clubs" [routerLink]="['/code-monkey-club', club.id]">
      <app-entity-card [entity]="club"> </app-entity-card>
    </a>
  </div>
</div>
