<div class="scroll">
  <mat-accordion class="scroll">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Imperative Programming</mat-panel-title>
        <mat-panel-description> sum:= a + b </mat-panel-description>
      </mat-expansion-panel-header>
      <imperative-programming></imperative-programming>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Reactive Programming</mat-panel-title>
        <mat-panel-description>
          stream(sum):= stream(a) + stream(b)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <reactive-programming></reactive-programming>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>RxJS|Observable</mat-panel-title>
        <mat-panel-description>unicasting messages</mat-panel-description>
      </mat-expansion-panel-header>
      <observable-unicast></observable-unicast>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>RxJS|Subject</mat-panel-title>
        <mat-panel-description>multicasting messages</mat-panel-description>
      </mat-expansion-panel-header>
      <subject-multicast></subject-multicast>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>RxJS|Observable - who's hot? who's not?</mat-panel-title>
        <mat-panel-description
          >mouse down events and http calls
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">some text</div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
