<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h3 fxLayout="row" fxLayoutAlign="center center">
  Amazing Products for Consume Monkeys
</h3>

<div>
  <mat-card class="example-card">
    <mat-card-title> Store Details </mat-card-title>

    <mat-card-subtitle>
      {{ store ? store.name : "loading store details" }}
    </mat-card-subtitle>

    <mat-card-content>
      <address>
        {{
          address
            ? "Street " + address.name + ", " + address.description
            : "loading address"
        }}
      </address>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row wrap">
  <app-entity-card *ngFor="let product of products" [entity]="product">
  </app-entity-card>
</div>
