<div fxLayout="row wrap">
  <div fxFlex="grow" class="header" fxLayoutAlign="center center">
    <a routerLink="/examples">Examples</a>
    <div>&lt;&gt;</div>
    <a routerLink="/code-monkey-club">Code Monkey Club</a>
  </div>

  <div fxFlex="grow" class="main">
    <div fxLayout="row wrap">
      <div fxFlex="20%"></div>

      <div fxFlex="60%">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
        <div class="footer">
          <status-bar></status-bar>
        </div>
      </div>

      <div fxFlex="20%"></div>
    </div>
  </div>
</div>
