<div fxLayout="row wrap">
  <a
    class="header"
    fxFlex="grow"
    fxLayoutAlign="center center"
    routerLink="/code-monkey-club"
    routerLinkActive="active"
    >Ng RxJS and XState Demo</a
  >

  <div fxFlex="grow" class="main">
    <div fxLayout="row wrap">
      <div fxFlex="20%"></div>

      <div fxFlex="60%">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
        <div class="footer">
          <app-status-bar></app-status-bar>
        </div>
      </div>

      <div fxFlex="20%"></div>
    </div>
  </div>
</div>
