<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<h3 fxLayout="row" fxLayoutAlign="center center">Welcome Consume Monkeys!</h3>

<div fxLayout="row wrap">
  <div fxFlex="30" fxLayoutAlign="center center">
    {{ (challengers.length >= 1 ? challengers[0].name : "") + " >>>" }}
  </div>
  <button
    fxFlex="40"
    fxLayoutAlign="center center"
    mat-button
    [disabled]="challengers.length < 2 || codeChallengeStarted"
    (click)="startChallenge()"
  >
    Start Code Challenge!
  </button>
  <div fxFlex="30" fxLayoutAlign="center center">
    {{ " \<\<\<" + (challengers.length === 2 ? challengers[1].name : "") }}
  </div>
</div>

<div class="scroll">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ club ? club.name : "loading club details" }}
      </mat-panel-title>
      <mat-panel-description>
        {{ rulez ? rulez.name : "loading club rulez" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="rulez">
      <div *ngFor="let rule of rulez.description">{{ rule }}</div>
    </div>
  </mat-expansion-panel>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <app-entity-card
      *ngFor="let member of members"
      [entity]="member"
      (click)="enterChallenger(member)"
      [class.challenger]="isChallenger(member.id)"
      [class.noob]="isFirsttime(member) && !isChallenger(member.id)"
    >
    </app-entity-card>
  </div>
</div>
